.back{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}

.text{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 35px;
    margin-left: 10px;
    display: flex;
    white-space: nowrap;
    text-align: left;
}

.pic{
    width: 100%;
    height: auto;
    margin-top: -100px;
}

.desc{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin-top: 30px;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}

.boxter{
    margin-top: -100px;
}

.lastDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.lastText{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 25px;
    max-width: 800px;
}

.icon{
    width: auto;
    height: auto;
    margin-left: 10px;
}