.title{
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: auto;
    margin-top: -30px;
    max-width: 1000px;
}

.span{
    color: #00FF0A;
}

.logo{
    margin-top: 5px;
    width: 70px;
    height: auto;
}

.description
{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    margin: auto;
}

.video{
    width: 650px;
    height: 300px;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-top: 30px;
}

.button{
    width: 300px;
    background-color: #ffffff;
    height: 60px;
    margin-top: 40px;
    border-radius: 20px;
    box-shadow: 0 0 40px 0px white;
    margin-left: auto;
    margin-right: auto;
}

.btnText{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: black;
    padding: 12px;
}